h1{
    text-align: center;

}

.card{
    display: flex;
    flex-wrap: wrap;
      

}

img{
    align-self: center;

}
div{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;

}

.title{
    font-size: 1.5rem;

}
